.hero {
  height: 80vh;
  background: linear-gradient(to right, #000, #333);
  color: white;
  display: flex;
  align-items: center;
}

.hero-content {
  max-width: 700px;
  padding: 60px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 25px;
}