.navbar {
  position: sticky;
  top: 0;
  background: #fff;
  border-bottom: 1px solid #ddd;
  z-index: 100;
}

.nav-inner {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  margin-left: 25px;
  font-weight: 500;
}

.nav-links a.active {
  border-bottom: 2px solid black;
}